$main-color: #ff0000;

$color-white: #fff;

$color-background: #F6F6F6;
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-grey: #EAEAEA;
$color-black: #101010;
$color-grey-dark: #7E7E7E;
$color-grey-very-dark: #353535;
$color-green: #008766;
$color-green-light: #99E2D0;
$color-shadow: #00000026;

$breakpoint-mobil: 768px;
$breakpoint-tablette: 1024px;
$breakpoint-desktop: 1440px;