@keyframes fadeout {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
  100% {
    top: 50%;
    left: 50%;
    height: 0;
    width: 0;
    opacity: 0;
    background-color: transparent;
  }
}
@keyframes appearance {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes rotation {
  from {
    transform: translate(-50%, -50%) rotate(0);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.loader {
  background-color: #F6F6F6;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeout 1.5s;
  animation-delay: 3s;
  animation-fill-mode: both;
  z-index: 3;
}
.loader .group {
  width: 200px;
  height: 200px;
  position: relative;
}

.group div {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background: #F6F6F6;
}

.title {
  font-family: "Shrikhand", sans-serif;
}

.t-center {
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.875rem 0 0.3125rem 0;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  min-height: 3.9375rem;
}
.header img {
  max-width: 50%;
}
.header-page {
  position: relative;
  gap: 1rem;
  padding-left: 1.4375rem;
}
.header-page .header-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 2rem;
}
.header-page .header-arrow i {
  font-size: 1.5rem;
  color: #353535;
}

.search-ctn {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  background: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
  padding: 1rem;
}
.search-ctn .location {
  font-size: 3rem;
}
.search-input {
  background: #EAEAEA;
  border: none;
  outline: transparent;
}
.search-input:focus-visible {
  background-color: #EAEAEA;
}

.info-ctn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 39px 5px 57px 5px;
}
.info-title {
  margin: 0;
  font-size: 1.5rem;
  line-height: 1.7581rem;
  font-weight: 700;
}
.info-content {
  font-size: 1.125rem;
  line-height: 1.3181rem;
  margin: 0;
  font-weight: 300;
}

.btn {
  border: none;
  padding: 0.8125rem 1.1594rem;
  color: #fff;
  font-size: 1rem;
  line-height: 1.1719rem;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  cursor: pointer;
}
.btn-primary {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  transition: all 0.25s;
}
.btn-primary:hover {
  filter: brightness(1.2);
  transition: all 0.25s;
}
.btn-rounded {
  border-radius: 1.5625rem;
}

.functioning-ctn {
  background: #fff;
  padding: 3rem 1.25rem;
}
.functioning-ctn ol {
  counter-reset: count;
  padding-left: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.functioning-ctn li {
  list-style: none;
  counter-increment: count;
  position: relative;
  padding: 1.75rem 2.375rem;
  background: #F6F6F6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  display: flex;
  align-items: center;
  gap: 1.4375rem;
}
.functioning-ctn li:hover .functioning-icon {
  color: #9356DC;
}
.functioning-ctn li::before {
  content: counter(count, lower-number);
  position: absolute;
  text-align: center;
  top: 50%;
  left: -1.25rem;
  transform: translateY(-50%);
  background: #9356DC;
  color: #fff;
  padding: 0.5rem;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: 0.8862rem;
}
.functioning-icon {
  color: #7E7E7E;
}

.restaurant {
  position: relative;
  overflow: hidden;
  border-radius: 0.9375rem;
  text-decoration: none;
  background: #fff;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
}
.restaurant .new {
  position: absolute;
  top: 0.9375rem;
  right: 0.9375rem;
  color: #008766;
  background: #99E2D0;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  border-radius: 0.125rem;
  padding: 0.4375rem 0.5625rem;
  font-size: 0.875rem;
  line-height: 1.0256rem;
  font-weight: 500;
  text-align: center;
}
.restaurant-ctn {
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
  padding: 3.375rem 1.25rem;
}
.restaurant-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 0;
}
.restaurant-list a {
  text-decoration: none;
}
.restaurant-img {
  display: block;
  width: 100%;
  object-fit: cover;
  max-height: 200px;
}
.restaurant-info-ctn {
  padding: 1rem 0.8125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.restaurant-name {
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.3181rem;
  font-weight: 700;
  color: #101010;
}
.restaurant-address {
  margin: 0;
  font-size: 1.0625rem;
  line-height: 1.245rem;
  font-weight: 300;
  color: #101010;
}
.restaurant-btn {
  height: 2rem;
  width: 2rem;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  background-color: #101010;
  color: #101010;
}
.restaurant-btn:hover::before {
  opacity: 1;
}
.restaurant-btn::before {
  opacity: 0;
  transition: 0.5s;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(193.33deg, #FF79DA -11.44%, #9356DC 123.93%);
}
.restaurant-like {
  transition-duration: 0.25s;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  mix-blend-mode: lighten;
}
.restaurant-btn:hover .restaurant-like--noBg {
  opacity: 0;
}
.restaurant-map {
  background: #fff;
}
.restaurant-map .restaurant-info-ctn {
  background: #F6F6F6;
  border-radius: 2.1875rem 2.1875rem 0 0;
  transform: translateY(-2.1875rem);
  justify-content: flex-start;
  gap: 2rem;
}
.restaurant-map .restaurant-info-ctn .restaurant-like {
  background: #F6F6F6;
}
.restaurant-map .restaurant-name {
  font-size: 1.75rem;
  line-height: 2.5513rem;
  font-style: italic;
}
.restaurant-map .restaurant-menu {
  padding: 1rem 0.8125rem;
  transform: translateY(-2.1875rem);
  background: #F6F6F6;
}
.restaurant-map .restaurant-menu-title {
  text-transform: uppercase;
  position: relative;
}
.restaurant-map .restaurant-menu-title:before {
  position: absolute;
  content: " ";
  background: #99E2D0;
  height: 0.1875rem;
  bottom: -1rem;
  width: 2.5rem;
  left: 0;
}
.restaurant-map .restaurant-menu-items {
  padding-top: 2rem;
}
.restaurant-map .restaurant-menu-items ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 0;
  list-style: none;
  margin: 0;
}
.restaurant-map .restaurant-menu-item {
  animation: appearance 0.8s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: scale(0);
  animation-fill-mode: both;
}
.restaurant-map .restaurant-menu-item .card {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  background: #fff;
  border-radius: 0.9375rem;
  cursor: pointer;
  box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1019607843);
}
.restaurant-map .restaurant-menu-item .card:hover .card-info {
  width: calc(100% - 5rem);
  transition: 0.5s;
}
.restaurant-map .restaurant-menu-item .card:hover .card-info-price {
  width: auto;
}
.restaurant-map .restaurant-menu-item .card:hover .card-option {
  width: 20%;
  max-width: 5rem;
  opacity: 1;
  transition: 0.5s;
  background: #99E2D0;
}
.restaurant-map .restaurant-menu-item .card:hover .check {
  transform: rotate(0);
  transition: 0.5s;
}
.restaurant-map .restaurant-menu-item .card-info {
  width: 100%;
  transition: 0.5s;
  padding: 1rem;
  display: flex;
  flex: 1;
  justify-content: space-between;
}
.restaurant-map .restaurant-menu-item .card-info-content {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  width: 80%;
  justify-content: flex-start;
}
.restaurant-map .restaurant-menu-item .card-info-content .label {
  margin: 0 0 5px 0;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.3181rem;
  color: #101010;
}
.restaurant-map .restaurant-menu-item .card-info-content .sub-label {
  font-weight: 300;
  font-size: 0.94rem;
  line-height: 1.1019rem;
  color: #101010;
}
.restaurant-map .restaurant-menu-item .card-info-content .label,
.restaurant-map .restaurant-menu-item .card-info-content .sub-label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.restaurant-map .restaurant-menu-item .card-info-price {
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
  width: 20%;
  font-weight: 700;
  font-size: 0.94rem;
  line-height: 1.1019rem;
  color: #353535;
}
.restaurant-map .restaurant-menu-item .card-option {
  width: 0;
  opacity: 0;
  max-width: 5rem;
  transition: 0.5s;
  display: flex;
  align-self: stretch;
  justify-content: center;
  align-items: center;
}
.restaurant-map .restaurant-menu-item .card-option .check {
  transform: rotate(270deg);
  transition: 0.5s;
  padding: 0.5rem;
  background: #fff;
  border-radius: 50%;
  color: #99E2D0;
}
.restaurant-actions {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding-bottom: 2.1875rem;
  background: #F6F6F6;
  transform: translateY(-2.1875rem);
}

.footer {
  background: #353535;
  padding: 1.375rem 1.5625rem;
}
.footer-title {
  display: block;
  margin-bottom: 2rem;
}
.footer-title img {
  max-width: 50%;
}
.footer-menu {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer-menu-item {
  list-style: none;
}
.footer-menu-item a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.1719rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.animation-delay-0 {
  animation-delay: 0s !important;
}

.animation-delay-1 {
  animation-delay: 0.1s !important;
}

.animation-delay-2 {
  animation-delay: 0.2s !important;
}

.animation-delay-3 {
  animation-delay: 0.3s !important;
}

.animation-delay-4 {
  animation-delay: 0.4s !important;
}

.animation-delay-5 {
  animation-delay: 0.5s !important;
}

.animation-delay-6 {
  animation-delay: 0.6s !important;
}

.animation-delay-7 {
  animation-delay: 0.7s !important;
}

.animation-delay-8 {
  animation-delay: 0.8s !important;
}

.animation-delay-9 {
  animation-delay: 0.9s !important;
}

.primary {
  border-top: 8px solid #9356DC;
  width: 200px;
  height: 200px;
  animation: rotation 2s infinite linear;
}

.secondary {
  border-left: 4px solid #FF79DA;
  width: 190px;
  height: 190px;
  animation: rotation 3s infinite linear reverse;
}

.tertiary {
  border-bottom: 12px solid #99E2D0;
  width: 180px;
  height: 180px;
  animation: rotation 2s infinite linear;
}

.grey {
  border-right: 2px solid #99E2D0;
  width: 170px;
  height: 170px;
  animation: rotation 3s infinite linear reverse;
}

@media (width > 768px) {
  .functioning-title,
  .functioning-content,
  .restaurant-ctn,
  .restaurant-info-ctn,
  .restaurant-menu,
  .restaurant-actions {
    max-width: 1024px;
    margin: auto;
  }
  .functioning-ctn {
    padding: 3rem 1.25rem;
  }
  .functioning-ctn ol {
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
  }
  .restaurant {
    width: calc(50% - 6.25rem);
  }
  .restaurant-map .restaurant-info-ctn {
    justify-content: center;
  }
  .restaurant-map .restaurant-menu-title {
    padding-left: 3rem;
  }
  .restaurant-map .restaurant-menu-title:before {
    left: 3rem;
  }
  .restaurant-map .restaurant-menu-items {
    padding: 2rem 3rem;
  }
  .restaurant-map .restaurant-actions {
    margin-bottom: -2.1875rem;
    padding-left: 0.8125rem;
    padding-right: 0.8125rem;
  }
  .restaurant-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 6.25rem;
    row-gap: 3.125rem;
  }
  .footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 3rem;
    padding-top: 4rem;
  }
  .footer-title, .footer-menu {
    margin: 0;
  }
  .footer nav ul {
    display: flex;
    flex-direction: row;
  }
}

/*# sourceMappingURL=index.css.map */
